orchestrator/workflows/email-triage-workflow.json
{
  "name": "AI Ready - Email Triage",
  "nodes": [
    {
      "parameters": {
        "path": "email-triage",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_Trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8010/agents/inbox/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"email_limit\": 10 }",
        "options": {}
      },
      "id": "Inbox_Agent_HTTP",
      "name": "Run Inbox Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const result = $json.result ?? { triage: [] }; return [{ json: { triage_count: result.triage.length, triage: result.triage } }];"
      },
      "id": "Format_Result",
      "name": "Format Triage Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "Webhook_Response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        240
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Run Inbox Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Inbox Agent": {
      "main": [
        [
          {
            "node": "Format Triage Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Triage Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "phase4-email-triage-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
